.Movie {
    margin-bottom: .5em;
  }
  
  .Movie-link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 8px rgba(5, 0, 21, 0.5);
    overflow: hidden;
  }
  
  .Movie h4 {
    background: linear-gradient(0deg, rgba(32,40,57,1) 30%, rgba(0,0,0,0) 100%);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
    text-align: center;
    padding: 50px 10px 10px 10px;
    width: 100%;
  }
  
  .Movie img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    vertical-align: top;
    border-radius: 20px;
  }
  
  i {
    font-size: 80px;
  }