.Movie {
    margin-bottom: .5em;
  }
  
  .Movie-link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
  }
  
  .Movie h4 {
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
  }
  
  .Movie img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
  }
  
  i {
    font-size: 80px;
  }